img{
    margin: auto;
    display: block;
    border-color: black;
    border-width: medium;
    border-style: dashed;
    border-radius: 25px;
}
body{
    background-color: coral;
}
.lista{
    list-style: upper-roman;
    list-style-position: inside;
    position: absolute;
    top: 2px;
    right: 500px;
}

a{
    text-decoration: none;
}
a:link{
    color: blue;
}
a:visited{
    color: red;
}

a:hover{
    color: purple;
    margin-top: 5px;
    margin-left: 2px;
    font-weight: bold;
}
a:active{
    color: black;
}

p:first-letter{
    font-size: 45px;
}

li:nth-child(2){
    background-color: gray;
}
